<%- include('includes/head.ejs') %>
  </head>
  <body>
    <h2>Enter new username</h2>
    <form action="/" method="POST">
      <input type="text" name="username" id="username" /><button type="submit">
        Submit
      </button>
    </form>
  </body>
</html>
